.button {
    background: white;
    width: auto;
    position: relative;
    padding: 25px 25px;
    color: black;
    border-radius: 15px;
    border: 1px solid black;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Calibri';
    font-size: 24px;
    opacity: .7;
    transition: .3s;
    
    &:hover {
        cursor: pointer;
        opacity: 1;
    }
    
    &:last-child {
        margin-bottom: 0px;
    }
    
    &_theme {
        &_blue {
            background: blue;
            color: white;
        }
        &_red {
            background: red;
            color: white;
        }
    }
    
    &_without-border {
        border: none;
        border-radius: 0px;
    }
}

.has-click {
    background: gray;
    &:hover {
        cursor: default;
    }
}