.l-example-block {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
    
    &__container {
        height: auto;
        width: 50%;
        position: relative;
        background: #ccc;
        padding: 25px;
    }
}