.button
{font-family: 'Calibri';font-size: 24px;position: relative;width: auto;margin-bottom: 25px;padding: 25px;-webkit-transition: .3s;-o-transition: .3s;-moz-transition: .3s;transition: .3s;text-align: center;opacity: .7;color: #000;border: 1px solid #000;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
    background: #fff;
}.button:hover
{
    cursor: pointer;opacity: 1;
}.button:last-child
{
    margin-bottom: 0;
}.button_theme_blue
{color: #fff;
    background: #00f;
}.button_theme_red
{color: #fff;
    background: red;
}.button_without-border
{
    border: 0;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;
}.has-click
{
    background: gray;
}.has-click:hover
{
    cursor: default;
}

.l-example-block
{position: relative;display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -ms-flexbox;display: flex;width: 100%;
    height: 100%;-webkit-box-align: center;-webkit-align-items: center;-moz-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-webkit-justify-content: center;-moz-box-pack: center;-ms-flex-pack: center;justify-content: center;
}.l-example-block__container
{position: relative;width: 50%;
    height: auto;padding: 25px;background: #ccc;
}
